In [6]:
import pandas as pd
import dask.dataframe as dd
import papermill as pm

In [7]:
df = dd.read_csv('data/*.csv').compute()
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
7,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
8,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
9,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
10,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
11,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [8]:
df.groupby('continent').mean()

             year    lifeExp           pop     gdpPercap     iso_num
continent
Africa     1979.5  48.865330  9.916003e+06   2193.754578  458.826923
Americas   1979.5  64.658737  2.450479e+07   7136.110356  393.720000
Asia       1979.5  60.064903  7.703872e+07   7902.150428  404.666667
Europe     1979.5  71.903686  1.716976e+07  14469.475533  427.633333
Oceania    1979.5  74.326208  8.874672e+06  18621.609223  295.000000

In [11]:
for x in df.continent.unique():
    query = f"continent == '{x}'"
    print(query)
    pm.execute_notebook(
        'visualize_complete.ipynb', 
        f'reports/{x}_viz.ipynb',
        parameters=dict(query=query, report_name=x),
    )

Black is not installed, parameters wont be formatted

continent == 'Asia'

Executing:   0%|          | 0/10 [00:00<?, ?cell/s]

Black is not installed, parameters wont be formatted

continent == 'Europe'

Executing:   0%|          | 0/10 [00:00<?, ?cell/s]

Black is not installed, parameters wont be formatted

continent == 'Africa'

Executing:   0%|          | 0/10 [00:00<?, ?cell/s]

Black is not installed, parameters wont be formatted

continent == 'Americas'

Executing:   0%|          | 0/10 [00:00<?, ?cell/s]

Black is not installed, parameters wont be formatted

continent == 'Oceania'

Executing:   0%|          | 0/10 [00:00<?, ?cell/s]